@page "/staticVinyls"


<h3 style="text-align:center"><b>VINYL COLLECTION</b></h3>

@if (VinylsList == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        @foreach(var item in VinylsList)
        {
            <div class="column">
                <div class="card">
                    <img src="@item.ImageUrl" alt="Vinyl" style="width:100%">
                    <div class="container">
                        <h3>@item.AlbumName</h3>
                        <p class="title">By @item.ArtistFName @item.ArtistLName</p>
                        <p>@item.Genre</p>
                        <p>Last Listen: @DateTime.Now.ToString("MMM dd yyyy")</p>
                    </div>
                </div>
              
            </div>
        }

    </div>

}

@code {

    public IEnumerable<Vinyl>? VinylsList { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await CallAPI();
    }

    async Task CallAPI()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync("https://adamsdev01.github.io/api/records.json"))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                VinylsList = JsonConvert.DeserializeObject<List<Vinyl>>(apiResponse);
            }
        }
    }

}
