@page "/vinyls"
<h3 style="text-align:center"><b>VINYL COLLECTION</b></h3>

@if(VinylsList == null)
{
    <p>Loading ...</p>

}
else
{
    <div class="container">
        <div class="row">
            @foreach (var vinyl in VinylsList)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@vinyl.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@vinyl.AlbumName</h5>
                            <p class="card-text">By: @vinyl.ArtistFName @vinyl.ArtistLName</p>
                            <p class="card-text">Genre: @vinyl.Genre</p>
                        </div>
                    </div>
                    <div class="card-footer" style="width: 18rem;">
                        <small class="text-muted">Last updated at @vinyl.InsertedDate.GetValueOrDefault().ToShortTimeString()</small>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
    
}



@code {

    public List<Vinyl> VinylsList { get; set; } = new List<Vinyl>();

    [Inject]
    public IVinylHttpRepository VinylRepository { get; set; }

    protected async override Task OnInitializedAsync()
    {
        VinylsList = await VinylRepository.GetVinyls();
    }

}
